/* General styles */
@import url("Open\ Sans.css");

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.otf") format('opentype');
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
  display: inline-block;
  text-decoration: inherit;
}

/* Nav styles */

nav > p {
  display: block;
  margin: 5px 0 5px 0!important;
  text-align: center!important;
  font-family: Montserrat;
  font-weight: bold;
}

/* Todo list styles */

ul {
  list-style-type: none;
}

ul > li {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

ul > li > span {
  text-decoration: inherit;
}

ul > li > input[type="checkbox"] {
  margin-right: 10px;
}

ul > li > button.delete {
  float: right;
  margin-right: 20px;
}

/* Add input styles */

h3 {
  margin: 0;
  text-align: center
}

form#createItem {
  display: block;
  margin: 0 auto;
  width: 360px;
}

form#createCategory {
  display: block;
  margin: 0 auto;
  width: 300px;
}

form > input[type="text"] {
  width: 200px;
}